% -*- mode: erlang -*- vim:ft=erlang:et
%{erl_opts, [debug_info, {d,debug}]}.
{deps, [
  {lager, ".*",
    {git, "https://github.com/basho/lager", {tag, "1.0.0"}}},
  {amqp_client, ".*",
    {git, "git://github.com/si14/amqp_client.git", "ad6f224a65"}},
  {rabbit_common, ".*",
    {git, "git://github.com/muxspace/rabbit_common.git", "342ea38a98"}},
  {'bson', ".*",
    {git, "https://github.com/superbobry/bson-erlang.git", "4677012704"}}
]}.
