% -*- mode: erlang -*-
%{erl_opts, [debug_info, {d,debug}]}.
{deps, [
  {lager, ".*",
    {git, "git://github.com/basho/lager", "master"}},
  {amqp_client, ".*",
    {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq_2.7.0"}}},
  {rabbit_common, ".*",
    {git, "git://github.com/jbrisbin/rabbit_common.git", {tag, "rabbitmq_2.7.0"}}},
  {'bson', ".*",
    {git, "git://github.com/muxspace/bson_erlang.git", "master"}}
]}.
